@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');

.table-class tbody tr td:nth-child(even) {
    background-color: rgb(206, 201, 201)
}

.area-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Domine', serif;
    margin: 0;
    padding: 0;
    font-family: "Dancing Script";
}

main {
    padding: 16px;
}

footer {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 10px;
    bottom:0in;
    background-color: aquamarine;
}

img {
    height: 200px;
}

nav {
    padding: 16px;
    border-bottom: 1px solid black;
    background-color: rgb(231, 76, 76);
}

a:hover {
    color: rgb(210, 127, 25);
}

h1 {
    color: blue;
}

h3 {
    color: orange;
}
